In [1]:
import os
import numpy as np
import pandas as pd

In [7]:
ienc = pd.read_csv("./data/IENC_Subsets_Data.csv")
ienc.head()

,rd_2003,total_income_2003,rd_intensity_2003,a4,log_num_disputes,ownership1,ownership2,ownership3,ownership4,ownership5,ownership6,ownership7,ownership8,ownership9
0,37100.0,102138.0,0.363234,1,0.693147,1,0,0,0,0,0,0,0,0
1,15.0,30223.0,0.000496,2,0.000000,0,1,0,0,0,0,0,0,0
2,52680.0,1692894.0,0.031118,5,0.000000,0,0,0,0,1,0,0,0,0
3,109995.0,2199421.0,0.050011,4,0.000000,0,0,0,1,0,0,0,0,0
4,187654.0,2444823.0,0.076756,5,0.000000,0,0,0,0,1,0,0,0,0

In [9]:
ienc.columns

Index(['rd_2003', 'total_income_2003', 'rd_intensity_2003', 'a4',
       'log_num_disputes', 'ownership1', 'ownership2', 'ownership3',
       'ownership4', 'ownership5', 'ownership6', 'ownership7', 'ownership8',
       'ownership9'],
      dtype='object')

In [9]:
np.random.normal(0.05, 0.01)

0.029098712942694015

In [16]:
def _simulate_rd_intensity(shareholding_corporations, 
                        log_num_disputes, rd_intensity_2003, coef):
    if shareholding_corporations == 1:
        return coef * log_num_disputes + np.random.normal(0.05, 0.01)
    else:
        return rd_intensity_2003

In [17]:
ienc.columns

Index(['rd_2003', 'total_income_2003', 'rd_intensity_2003', 'a4',
       'log_num_disputes', 'ownership1', 'ownership2', 'ownership3',
       'ownership4', 'ownership5', 'ownership6', 'ownership7', 'ownership8',
       'ownership9', 'simulated_rd_intensity'],
      dtype='object')

In [18]:
ienc["log_num_disputes"].values

array([0.69314718, 0.        , 0.        , ..., 1.6094379 , 1.7917595 ,
       0.        ])

In [10]:
ienc['simulated_rd_intensity'] = ienc.apply(
    lambda x: _simulate_rd_intensity(
        x["ownership5"],
        x["log_num_disputes"],
        x["rd_intensity_2003"], 
        0.2),
        axis=1
)
ienc.head()

,rd_2003,total_income_2003,rd_intensity_2003,a4,log_num_disputes,ownership1,ownership2,ownership3,ownership4,ownership5,ownership6,ownership7,ownership8,ownership9,simulated_rd_intensity
0,37100.0,102138.0,0.363234,1,0.693147,1,0,0,0,0,0,0,0,0,0.363234
1,15.0,30223.0,0.000496,2,0.000000,0,1,0,0,0,0,0,0,0,0.000496
2,52680.0,1692894.0,0.031118,5,0.000000,0,0,0,0,1,0,0,0,0,0.053114
3,109995.0,2199421.0,0.050011,4,0.000000,0,0,0,1,0,0,0,0,0,0.050011
4,187654.0,2444823.0,0.076756,5,0.000000,0,0,0,0,1,0,0,0,0,0.042188

In [19]:
ienc['simulated_rd_intensity2'] = ienc.apply(
    lambda x: _simulate_rd_intensity(
        x["ownership5"],
        x["log_num_disputes"],
        x["rd_intensity_2003"], 
        0.2),
        axis=1
)
ienc.head()

,rd_2003,total_income_2003,rd_intensity_2003,a4,log_num_disputes,ownership1,ownership2,ownership3,ownership4,ownership5,ownership6,ownership7,ownership8,ownership9,simulated_rd_intensity,simulated_rd_intensity2
0,37100.0,102138.0,0.363234,1,0.693147,1,0,0,0,0,0,0,0,0,0.363234,0.363234
1,15.0,30223.0,0.000496,2,0.000000,0,1,0,0,0,0,0,0,0,0.000496,0.000496
2,52680.0,1692894.0,0.031118,5,0.000000,0,0,0,0,1,0,0,0,0,0.053114,0.044977
3,109995.0,2199421.0,0.050011,4,0.000000,0,0,0,1,0,0,0,0,0,0.050011,0.050011
4,187654.0,2444823.0,0.076756,5,0.000000,0,0,0,0,1,0,0,0,0,0.042188,0.060819

In [11]:
ienc[
    ienc["ownership5"] == 1
][
    ['rd_intensity_2003', 'simulated_rd_intensity']
].describe()

       rd_intensity_2003  simulated_rd_intensity
count       9.220000e+02              922.000000
mean        2.170714e-02                0.054842
std         4.327875e-02                0.013160
min         6.780083e-07                0.019405
25%         2.017654e-03                0.046803
50%         8.255143e-03                0.054054
75%         2.724513e-02                0.060985
max         5.846852e-01                0.176413

In [20]:
ienc[
    ienc["ownership5"] == 1
][
    ['rd_intensity_2003', 'simulated_rd_intensity2']
].describe()

       rd_intensity_2003  simulated_rd_intensity2
count       9.220000e+02               922.000000
mean        2.170714e-02                 0.167292
std         4.327875e-02                 0.187617
min         6.780083e-07                 0.020468
25%         2.017654e-03                 0.047818
50%         8.255143e-03                 0.057954
75%         2.724513e-02                 0.269866
max         5.846852e-01                 1.184473

In [21]:
ienc[['rd_intensity_2003', 'simulated_rd_intensity', 'simulated_rd_intensity2']].describe()

       rd_intensity_2003  simulated_rd_intensity  simulated_rd_intensity2
count       6.806000e+03            6.806000e+03             6.806000e+03
mean        1.847148e-02            2.296019e-02             3.819371e-02
std         3.869427e-02            3.774705e-02             9.283377e-02
min         2.267603e-07            2.267603e-07             2.267603e-07
25%         1.432264e-03            1.775710e-03             1.775710e-03
50%         5.615117e-03            7.850379e-03             7.850379e-03
75%         1.992860e-02            3.627809e-02             3.595723e-02
max         5.846852e-01            5.357143e-01             1.184473e+00

In [23]:
ienc.head()

,rd_2003,total_income_2003,rd_intensity_2003,a4,log_num_disputes,ownership1,ownership2,ownership3,ownership4,ownership5,ownership6,ownership7,ownership8,ownership9,simulated_rd_intensity,simulated_rd_intensity2
0,37100.0,102138.0,0.363234,1,0.693147,1,0,0,0,0,0,0,0,0,0.363234,0.363234
1,15.0,30223.0,0.000496,2,0.000000,0,1,0,0,0,0,0,0,0,0.000496,0.000496
2,52680.0,1692894.0,0.031118,5,0.000000,0,0,0,0,1,0,0,0,0,0.053114,0.044977
3,109995.0,2199421.0,0.050011,4,0.000000,0,0,0,1,0,0,0,0,0,0.050011,0.050011
4,187654.0,2444823.0,0.076756,5,0.000000,0,0,0,0,1,0,0,0,0,0.042188,0.060819

In [24]:
ienc.to_csv(
    "ienc_simulated.csv"
)